$isColorBase100: #f9f9fa;
$isColorBase200: #eceeef;
$isColorBase300: #dee1e3;
$isColorBase400: #cfd3d7;
$isColorBase500: #bfc5c9;
$isColorBase600: #adb4b9;
$isColorBase700: #98a1a8;
$isColorBase800: #7f8b93;
$isColorBase900: #606e79;
$isColorBase1000: #374047;

$isSiteColor100: #f6fafd;
$isSiteColor200: #e2eff9;
$isSiteColor300: #cce4f5;
$isSiteColor400: #b5d8f0;
$isSiteColor500: #9bcaeb;
$isSiteColor600: #7dbae5;
$isSiteColor700: #5aa7de;
$isSiteColor800: #2d8fd5;
$isSiteColor900: #006fbe;
$isSiteColor1000: #004170;

$colorOverlay: rgba(0, 0, 0, 0.4);
$colorClear: rgba(0, 0, 0, 0);
