// width
$fromDefaultWidth: 180px;

// height
$componentLargeHeight: 44px;
$componentMediumHeight: 36px;
$componentSmallHeight: 26px;

// width & height
$checkFormPartsLargeSize: 26px;
$checkFormPartsMediumSize: 22px;
$checkFormPartsSmallSize: 18px;

//border-radius
$borderRadiusLarge: 7px;
$borderRadiusMedium: 5px;
$borderRadiusSmall: 3px;
